@import url('https://fonts.googleapis.com/css2?family=Barlow&family=EB+Garamond&family=La+Belle+Aurore&family=Lobster&family=Noto+Sans&family=Outfit:wght@100..900&family=Quicksand&display=swap');
body {
  margin: 0;
  font-family: Outfit;
}
* {
  padding: 0;
  margin: 0;
}
